ul li {
  list-style: none;
    margin-bottom: 25px;
  padding-left: 0;
  margin-left: 100px;
   text-align: left;
    list-style-position: inside;
	display: inline-block;
}
.image{
  border-radius: 15px !important;
  width: 245px;
  height: 350px;
}
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #8577fb;
    color: #fff;
}
.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.rotate{display:none;}

  .divider-custom .divider-custom-icon{
      color: #2c3e50 !important;
    font-size: 2rem;
}
#portfolio > div > div.animated.fadeIn > div.text-center.mt-4 > a{display:none;}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #8577FB;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:9999;
  padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight:bold;
}

/* Change the color of links on hover */
.navbar a:hover {
   color: #5846f9;
}

/* Add a green background color to the active link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

.container3{margin-top:120px;}







#mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
}



.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


.logo {
    animation: move 1s infinite;
    position: relative;
    cursor: pointer;
}

@keyframes move {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}


.flip-card {
  background-color: transparent;
  width: 245px;
  height: 350px;
  perspective: 1000px;
  margin-bottom:40px;
  border-radius: 15px !important;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.2);
   border-radius: 15px !important;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
   border-radius: 15px !important;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
   border-radius: 15px !important;
}

.flip-card-front {
 
  color: #2980b9;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  text-align:left;
  padding-left:15px;
   border-radius: 15px !important;
}

.overlay2::after {
  content: "";
  background: url(image.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  visibility:visible;
}