
<!DOCTYPE html>
<html>
<head>

<style>
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #8577fb;
    color: #fff;
}
.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}
</style>
<script
    type="text/javascript"
    src="js/jquery.js"
></script>

<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script id="insert"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>


  
</head>
<body>
    <div style="">
    <ul></ul>
</div>

    <script type="text/javascript">//<![CDATA[


var data = {
    "items": [{
        "url": "images/1.png",
            // "caption": "NewYork-Cat_Game #1",
			// "Eyeshape": "angry",
			// "Pattern": "none",
			// "Patterncolor": "Hot Flame 1",
			// "Patternaccentcolor": "Hard Metal 4",
			// "Animation": "Head Bob",
			// "Mysterious": "5",
			// "Description": "Only 65535 Generation Zero Kitties will ever exist",
			// "Generation": "Zero"
    }, {
        "url": "images/2.png",
            "caption": "NewYork-Cat_Game #2",
			"Eyeshape": "angry",
			"Pattern": "none",
			"Patterncolor": "Hot Flame 1",
			"Patternaccentcolor": "Hard Metal 4",
			"Animation": "Head Bob",
			"Mysterious": "5",
			"Description": "Only 65535 Generation Zero Kitties will ever exist",
			"Generation": "Zero",
            "Status": "Active"
    }, {
        "url": "images/3.png",
            "caption": "NewYork-Cat_Game #3",
            "Eyeshape": "Unknown",
			"Pattern": "Unknown",
			"Patterncolor": "Unknown",
			"Patternaccentcolor": "Unknown",
			"Animation": "Unknown",
			"Mysterious": "Unknown",
			"Description": "Only 65535 Generation Zero Kitties will ever exist",
			"Generation": "Unknown",
            "Status": "Failed to mint"
    }, {
        "url": "images/4.png",
            "caption": "NewYork-Cat_Game #4"
    }	, {
        "url": "images/5.png",
            "caption": "NewYork-Cat_Game #5"
    }
	
	, {
        "url": "images/6.png",
            "caption": "NewYork-Cat_Game #6"
    }
	, {
        "url": "images/7.png",
            "caption": "NewYork-Cat_Game #7"
    }
	, {
        "url": "images/8.png",
            "caption": "NewYork-Cat_Game #8"
    }
	, {
        "url": "images/9.png",
            "caption": "NewYork-Cat_Game #9"
    }
	, {
        "url": "images/10.png",
            "caption": "NewYork-Cat_Game #10"
    }
	, {
        "url": "images/11.png",
            "caption": "NewYork-Cat_Game #11"
    }
	, {
        "url": "images/12.png",
            "caption": "NewYork-Cat_Game #12"
    }
	, {
        "url": "images/13.png",
            "caption": "NewYork-Cat_Game #13"
    }
	, {
        "url": "images/14.png",
            "caption": "NewYork-Cat_Game #14"
    }
	, {
        "url": "images/15.png",
            "caption": "NewYork-Cat_Game #15"
    }
	, {
        "url": "images/16.png",
            "caption": "NewYork-Cat_Game #16"
    }
	, {
        "url": "images/17.png",
            "caption": "NewYork-Cat_Game #17"
    }
	, {
        "url": "images/18.png",
            "caption": "NewYork-Cat_Game #18"
    }
	, {
        "url": "images/19.png",
            "caption": "NewYork-Cat_Game #19"
    }
	, {
        "url": "images/20.png",
            "caption": "NewYork-Cat_Game #20"
    }
	, {
        "url": "images/21.png",
            "caption": "NewYork-Cat_Game #21"
    }
	, {
        "url": "images/22.png",
            "caption": "NewYork-Cat_Game #22"
    }
	, {
        "url": "images/23.png",
            "caption": "NewYork-Cat_Game #23"
    }
	, {
        "url": "images/24.png",
            "caption": "NewYork-Cat_Game #24"
    }
	, {
        "url": "images/images/25.png",
            "caption": "NewYork-Cat_Game #25"
    }
	, {
        "url": "images/26.png",
            "caption": "NewYork-Cat_Game #26"
    }
	, {
        "url": "images/27.png",
            "caption": "NewYork-Cat_Game #27"
    }
	, {
        "url": "images/28.png",
            "caption": "NewYork-Cat_Game #28"
    }
	, {
        "url": "images/29.png",
            "caption": "NewYork-Cat_Game #29"
    }
	, {
        "url": "images/30.png",
            "caption": "NewYork-Cat_Game #30"
    }
	, {
        "url": "images/31.png",
            "caption": "NewYork-Cat_Game #31"
    }
	, {
        "url": "images/32.png",
            "caption": "NewYork-Cat_Game #32"
    }
	, {
        "url": "images/33.png",
            "caption": "NewYork-Cat_Game #33"
    }

    , {
        "url": "images/34.png",
            "caption": "NewYork-Cat_Game #34"
    }
    , {
        "url": "images/35.png",
            "caption": "NewYork-Cat_Game #35"
    }

    , {
        "url": "images/36.png",
            "caption": "NewYork-Cat_Game #36"
    }

    , {
        "url": "images/37.png",
            "caption": "NewYork-Cat_Game #37"
    }
    , {
        "url": "images/38.png",
            "caption": "NewYork-Cat_Game #38"
    }
    , {
        "url": "images/39.png",
            "caption": "NewYork-Cat_Game #39"
    }
    , {
        "url": "images/40.png",
            "caption": "NewYork-Cat_Game #40"
    }
    , {
        "url": "images/41.png",
            "caption": "NewYork-Cat_Game #41"
    }
    , {
        "url": "images/42.png",
            "caption": "NewYork-Cat_Game #42"
    }
    , {
        "url": "images/43.png",
            "caption": "NewYork-Cat_Game #43"
    }
    , {
        "url": "images/44.png",
            "caption": "NewYork-Cat_Game #44"
    }
    , {
        "url": "images/45.png",
            "caption": "NewYork-Cat_Game #45"
    }
    , {
        "url": "images/46.png",
            "caption": "NewYork-Cat_Game #46"
    }

	]
};
$.each(data.items, function (i, f) {
    $("ul").append("<li><div class='container'><img class='image' style='width:250px;'src='" + f.url + 
                   "' / ><br><div class='overlay' style=''>Name: " + 
                   f.caption 
                   + " <br>Eye Shape: " + 
                   f.Eyeshape 
                   + " <br>Pattern: " + 
                   f.Pattern
                   + "<br>Pattern color: " + 
                   f.Patterncolor
                   + "<br>Pattern Accent Color: " + 
                   f.Patternaccentcolor
                   + "<br>Animation: " + 
                   f.Animation
                   + "<br>Mysterious: " + 
                   f.Mysterious
                   + "<br>Description: " + 
                   f.Description
                   + "<br>Generation: " + 
                   f.Generation
                   + "<br>Status: " + 
                   f.Status
                   + "</div></div></li>");
});


  //]]></script>

 

</body>
</html>
